.single .blog-content {
  width: 80%;
  background: #ffffff;
  margin: 0 auto;
}
.single .blog-content article {
  box-sizing: border-box;
  padding: 30px;
}
.single .blog-content h1 {
  font-size: 30px;
  text-align: center;
}
.single .blog-content .detail-info {
  height: 20px;
  font-size: 12px;
}
.single .blog-content .detail-info .author {
  float: left;
}
.single .blog-content .detail-info .edit {
  float: right;
  color: #20a0ff;
  cursor: pointer;
}
.single .blog-content .person-cate {
  font-size: 12px;
  margin-top: 10px;
}
.single .blog-content .person-cate em {
  color: #000;
}
.single .blog-content .person-cate em:first-of-type {
  margin-right: 30px;
}
.single .blog-content .person-cate span {
  padding: 0 5px;
  color: #20a0ff;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-left: 10px;
}
.single .blog-content .copyright {
  color: #666;
  font-size: 12px;
  margin-bottom: 30px;
  opacity: .8;
}
.single .blog-content .copyright em {
  float: right;
  color: #999;
}
.single .blog-content .copyright em.active {
  color: #fa4144;
}
.single .blog-content .copyright em:hover {
  color: #fa4144;
  cursor: pointer;
}
.single .attach {
  margin: 10px auto;
  width: 80%;
  background: #fff;
  border-right: 2px solid #20a0ff;
}
.single .attach .commit {
  padding: 14px 20px;
  box-sizing: border-box;
}
.single .attach .commit .commit-btn {
  overflow: hidden;
  border-right: 1px solid #20a0ff;
}
.single .attach .commit .commit-btn img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 4px;
  float: left;
}
.single .attach .commit .commit-btn input {
  float: left;
  width: 100%;
  margin-right: -80px;
  height: 40px;
  padding-left: 10px;
  border: 1px solid #20a0ff;
}
.single .attach .commit .btn {
  float: right;
  font-size: 14px;
  margin-top: 4px;
}
.single .attach .commit .btn em {
  color: #fa4144;
  cursor: pointer;
  padding: 2px 4px;
  box-sizing: border-box;
}
.single .attach .commit .btn em:hover {
  border: 1px solid #fa4144;
}
.single .comment .comment-list {
  min-height: 80px;
  background: #fff;
  border-bottom: 1px dotted #20a0ff;
  padding: 0px 10px;
}
.single .comment .comment-list .comment-list-title {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
.single .comment .comment-list .comment-list-title span {
  color: #ffa000;
}
.single .comment .comment-list .comment-list-title em {
  margin-left: 20px;
}
.single .comment .comment-list .comment-list-content {
  line-height: 22px;
}
.comment-aside {
  position: fixed;
  right: 6%;
  top: 60px;
}
.comment-aside li {
  width: 60px;
  height: 80px;
  background: #fff;
  margin-top: 2px;
  line-height: 80px;
  text-align: center;
}
.comment-aside li a {
  font-size: 14px;
  color: #fa4144;
}
.comment-aside li a:hover {
  cursor: pointer;
}
.comment-aside li span {
  font-size: 30px;
}
@media screen and (max-width: 720px) {
  .comment-aside {
    display: none;
  }
}
